################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AdaptiveChaos.API/obj
/src/AdaptiveChaos.API/bin/Debug/net6.0
/src/AdaptiveChaos.API/.vs/config
/.vs
/src/AdaptiveChaos.Client/obj
/src/AdaptiveChaos.Client/bin/Debug/net6.0
/src/AdaptiveChaos.Domain/obj
/src/AdaptiveChaos.Domain/bin/Debug/net6.0
/src/AdaptiveChaos.Infrastructure/obj
/src/AdaptiveChaos.Infrastructure/bin/Debug/net6.0
/src/AdaptiveChaos.Mongo/obj
/src/AdaptiveChaos.Mongo/bin/Debug/net6.0
/src/AdaptiveChaos.Shared/bin/Debug/net6.0
/src/AdaptiveChaos.Shared/obj
/tests/AdaptiveChaos.API.Tests/obj
/tests/AdaptiveChaos.API.Tests/bin/Debug/net6.0
/tests/AdaptiveChaos.Client.Tests/obj
/tests/AdaptiveChaos.Client.Tests/bin/Debug/net6.0
/tests/AdaptiveChaos.Domain.Tests/obj
/tests/AdaptiveChaos.Domain.Tests/bin/Debug/net6.0
/tests/AdaptiveChaos.Infrastructure.Tests/obj
/tests/AdaptiveChaos.Infrastructure.Tests/bin/Debug/net6.0
/tests/AdaptiveChaos.Mongo.Tests/obj
/tests/AdaptiveChaos.Mongo.Tests/bin/Debug/net6.0
/tests/AdaptiveChaos.Shared.Tests/obj
/tests/AdaptiveChaos.Shared.Tests/bin/Debug/net6.0
